<!--<div style="text-align: center">-->
<!--  <div class="btn-group" dropdown style="text-align: center">
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      State <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
      </li>
    </ul>
  </div>-->
<!--</div>-->

<!--
<div class="form-group">
  <label>Role</label>
  <select name="role" class="form-control" [(ngModel)]="countries">
    <option *ngFor="let country of countries" [value]="country.value">{{country.display}}</option>
  </select>
</div>-->

<!--commented to try in search component -->
<!--<div class="form-group">
  <label style="margin-left: 0px">State</label>
  <select name="state" class="form-control" [(ngModel)]="states"> &lt;!&ndash;style="max-width: 20%; margin-left: 35%; " >&ndash;&gt;
    <option value={{states}}>No option Selected</option>
    <option *ngFor="let state of states" [ngValue]="state">{{state}}</option>
  </select>
  &lt;!&ndash;<app-city></app-city>&ndash;&gt;
</div>-->

