


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Phone Directory</h1>
    <p>If you want to know the contact details of a person, institution, company etc, you are in the right place. Get all the information you need to get in touch with whom you are searching for. </p>

    <!-- Button trigger modal -->
    <!--<div style="text-align: center">-->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" (click)="modal.open()">Learn more&raquo;</button>
    <!--</div>-->
    <!-- Modal -->

    <modal #modal>
      <modal-header>
        <h4 class="modal-title"><b>Information</b></h4>
      </modal-header>
      <modal-content>
        Please <b>signin</b> or <b>signup</b> to use the features of this website.<br><br>
        You have the following features :
        <li>Search for contact</li>
        <li>Add Contact Information</li>
        <li>See nearby contacts</li>
      </modal-content>
      <modal-footer></modal-footer>
    </modal>

  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Add Personal Information</h2>
      <p>Add your personal information to the website, so that your close one's can find you and reach out to you.</p>
      <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
      <ul *ngIf="authService.loggedIn(); else other_content" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/features/adddetails']">View Details &raquo;</a></ul>
      <ng-template #other_content><a [routerLink]="['/signin']">View Details &raquo;</a></ng-template>
    </div>

    <div class="col-md-4">
      <h2>Search Contacts</h2>
      <p>Find out your friends mobile contact, check where they are staying. Get their personal address and have some fun time with them. </p>
      <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
      <ul *ngIf="authService.loggedIn(); else other_content" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/features/search']">View Details &raquo;</a></ul>
      <ng-template #other_content><a [routerLink]="['/signin']">View Details &raquo;</a></ng-template>
    </div>

    <div class="col-md-4">
      <h2>See Near By Contacts</h2>
      <p>Have the privilege to see who all are staying nearby to your place and get their personal information. </p>
      <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
      <ul *ngIf="authService.loggedIn(); else other_content" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/locator']">View Details &raquo;</a></ul>
      <ng-template #other_content><a [routerLink]="['/signin']">View Details &raquo;</a></ng-template>
    </div>

  </div>
  <!--<hr>-->
</div>




