

<div class="form-group" style="text-align: center; scroll-padding-inline: 10px">
  <label style="font-size: 25px; padding-top: 50px; padding-bottom: 30px">Select one of the two options</label><br>
  <!--<div class="radio-inline" *ngFor= 'let option of options; let i = index'>-->
    <label style="font-size: 15px;">
      <!--<input class="form-check-input" type="radio" name="optionradio" value= "option.value">-->
      <!--<input type="radio" [(ngModel)]="opt" name ="opt" value="{{option.value}}" (click)="showSelected()" >-->
      <input type="radio" [(ngModel)]="opt" name ="opt" value="search" (change)="showSelected()" >
      Search for a Contact &nbsp;&nbsp;
      <input type="radio" [(ngModel)]="opt" name ="opt" value="adddetails" (change)="showSelected()" >
      Add Details to be stored in directory
      <!--{{option.display}}--><br>
      <!--<i>selected item:</i> <b>{{ opt }}</b><br/><br/>-->

    </label>
  <!--</div>-->
  <div>

   <router-outlet></router-outlet>

  </div>
</div>

