<div class="back">
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">

      <a class="navbar-brand" href="#">Online Phone Directory</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
     <div  class="nav navbar-nav navbar-left">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" [(ngModel)] = "Searchbox" name="search" type="text" placeholder="Search" style="height:50px;">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onSubmit()">Search</button>
        </form>
        <!--        <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>-->
      </div>
      <div class="nav navbar-nav navbar-right">

        <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/signin']"> SignIn</a></li>
        <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/signup']">SignUp</a></li>

        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/profile']">Profile</a></li>

        <li class="dropdown" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
        <div>
        <li class="dropbtn">Features
            <i class="fa fa-caret-down"></i>
          </li>
        </div>
          <div class="dropdown-content">
            <a [routerLink]="['/features']">Add/Search Contact</a>
            <a [routerLink]="['/locator']">See NearBy Contact</a>
          </div>
        </li>

        <li *ngIf="authService.loggedIn()"><a (click)="onLogoutClick()" href="#">SignOut</a></li>
      </div>

    </div><!--/.nav-collapse -->
  </div>
</nav>


<!--<app-navbar></app-navbar>-->
<flash-messages></flash-messages>
<router-outlet></router-outlet>
<!--<app-signin></app-signin>
<app-signup></app-signup>-->
<div class="container">
  <div class="row">
<!--    <app-courses></app-courses>
    <app-author></app-author>-->
  </div>
</div>

<br><br><br><br><br><br><br><br>

<footer>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
          <h3> Site Information </h3>
          <ul>
            <li> <a href="#"> AboutUs </a> </li>
            <!--<li> <a href="#"> ContactUs </a> </li>-->
            <li> <a href="#"> Terms and Conditions </a> </li>
            <li> <a href="#"> Privacy Policy </a> </li>
          </ul>
        </div>
        <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
          <h3> Connect </h3>
          <ul>
            <li> <a href="#"> Youtube </a> </li>
            <li> <a href="#"> Facebook </a> </li>
            <li> <a href="#"> RSS Feeds </a> </li>
            <li> <a href="#"> From the Blog </a> </li>
          </ul>
        </div>
        <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
          <h3> Contact </h3>
          <ul>
            <li> <a href="#"> Chat </a> </li>
            <li> <a href="#"> Email </a> </li>
            <li> <a href="#"> Call </a> </li>
          </ul>
        </div>

        <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
          <h3> Benefits </h3>
          <ul>
            <li>
              <div class="input-append newsletter-box text-center">
                <input type="text" class="full text-center" placeholder="Email ">
                <button class="btn  bg-gray" type="button"> Connect <i class="fa fa-long-arrow-right"> </i> </button>
              </div>
            </li>
          </ul>
          <ul class="social">
            <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
          </ul>
        </div>
      </div>
      <!--/.row-->
    </div>
    <!--/.container-->
  </div>
  <!--/.footer-->

  <div class="footer-bottom">
    <div class="container" style="text-align: center">
      <p> Copyright © Phone Directory 2017. All right reserved. </p>

    </div>
  </div>
  <!--/.footer-bottom-->
</footer>
<!--</div>-->


