<!--<div style="text-align: center">
  <div class="btn-group" dropdown style="text-align: center">
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      City <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
      </li>
    </ul>
  </div>
</div>-->

<!--
<div class="form-group">
  <label style="margin-right: 0%">City</label>
  <select name="city" class="form-control" [(ngModel)]="cities"> &lt;!&ndash;style="max-width: 20%; margin-left: 60%;" >&ndash;&gt;
    <option value={{cities}}>No option Selected</option>
    <option *ngFor="let city of cities" [value]="city.value">{{city.display}}</option>
  </select>
</div>
-->

