<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3">
      <div class="account-wall">
      <legend style="text-align: center"><a href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-globe"></i></a> Sign up!</legend>
      <!--<form action="onRegisterSubmit()" method="post" class="form" role="form">-->
        <form #signup="ngForm" (ngSubmit)="onRegisterSubmit()">
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <div class="form-group">
            <input class="form-control" [(ngModel)]="firstname" name="firstname" placeholder="First Name" type="text"
                   required autofocus />
            </div>
          </div>
          <div class="col-xs-6 col-md-6">
            <div class="form-group">
            <input class="form-control" [(ngModel)]="lastname" name="lastname" placeholder="Last Name" type="text" required />
            </div>
          </div>
        </div>
        <div class="form-group">
        <input class="form-control" [(ngModel)]="email" name="email" placeholder="Your Email" type="email" />
        </div>
   <!--     <div class="form-group">
        <input class="form-control" [(ngModel)]="reenteremail" name="reenteremail" placeholder="Re-enter Email" type="email" />
        </div>-->
        <div class="form-group">
        <input class="form-control" [(ngModel)]="password" name="password" placeholder="New Password" type="password" />
        </div>
        <div class="form-group">
        <input class="form-control" [(ngModel)]="phonenumber" name="phonenumber" placeholder="Phone Number" type="number" />
        </div>
        <div class="form-group">
        <input class="form-control" [(ngModel)]="address" name="address" placeholder="Location" type="text" />
        </div>

        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit"
                [disabled]="!signup.form.valid">
       <!--   <input class="btn btn-lg btn-primary btn-block"  type="submit" value="Sign Up"/> -->
        Sign Up
          </button>
      </form>
      </div>
    </div>
  </div>
</div>

